<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Pals!</title>

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <!-- plotly cdn -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- d3 cdn -->
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>

    <!-- bootstrap stylesheets and js-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- our stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- vis.js dependencies -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vis.css') }}" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/vis.js') }}"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>Exploration of Landslides</h1>
        </div>
    </div>
    <!-- The div where we will inject our map -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="mynetwork"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="map"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="well">
                    <h2>Select Country:</h2>
                    <select id="selDataset" onchange="optionChanged(this.value)"></select>
                </div>
            </div>
        </div>

        <div class="row">
             <div id="d3Plot"></div>
        </div>

    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- our js script -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>